<section class="location">
  <v-layout justify-center>
    <v-flex md6>
        <v-dialog v-model="mobile" width="500">
            <v-card>
              <v-card-title class="headline" primary-title>Would you like to login using your 3bot application?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn flat @click='mobile=false'>No</v-btn>
                <v-btn flat @click='openInApp'>Yes</v-btn>
              </v-card-actions>
            </v-card>
        </v-dialog>
      <v-card>
        <v-form ref="form" lazy-validation @submit="saveLocation">
          <v-card-text>
            <v-card-title class="headline pt-0 pl-0" primary-title>
              Select your location
            </v-card-title>
            <v-layout align-center justify-center fill-height row wrap>
              <v-flex  d-flex>
                <v-list>
                  <v-list-tile v-for="(loc, index) in locations" :key="index" @click="selectLocation(loc)"
                    :class="location == loc ? 'accent white--text' : ''">
                    {{loc}}
                  </v-list-tile>
                </v-list>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn v-if="!loadingLocation" @click="autoLocation" flat>
              <span>Auto select server</span>
            </v-btn>
            <v-btn :disabled="!location" type="submit" flat>Next</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</section>